
.hotels-header {
  display: flex;
  justify-content: center;
  font-family: $base-font-family;
  padding: 10px 0;
  width: 100%;
  background-color: $base-color;
  color: white;

  h2 {
    margin: 0;
  }
}

.hotels-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .flight-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 0;
    width: 100%;
    background-color: lightgrey;
    border-bottom: 1px solid $base-color;
    color: white;
  }

  form {
    margin-top: 20px;
  }

  input {
    background-color: white;
    font-family: $base-font-family;
    font-size: 0.85em;
    padding: 10px;
    border: 1px solid lightgrey;

    &:focus {
      outline: none;
    }
  }

  .hotels-skip {
    display: flex;
    align-items: center;
    width: 100%;

    .my-trip {
      background-color: $base-color;
      color: white;
    }

    button {
      width: 100%;
      border: 1px solid lightgrey;
      background-color: white;
      padding: 5px 0;

      a:link,
      a:visited {
        color: #777;
        text-decoration: none;
      }

      a:focus,
      a:hover {
        outline: none;
      }
    }
  }

  p {
    color: #777;
  }

  ul {
    width: 100%;
    padding-left: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    font-size: 0.75em;
    color: #777;

    li {
      margin: 5px 0;
    }
  }
}

.hotels-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > div {
    padding: 0 10px;
  }
}

.hotels-hotels {
  width: 100%;
  background-color: white;
  text-align: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;

  .spacing {
    padding-top: 5px;
  }

  .price {
    color: white;
    font-weight: bold;
    background-color: $base-color;
  }

  td {
    border-right: 1px solid lightgrey;
  }

  th {
    background-color: lightgrey;
  }

  th {
    padding: 5px 0;
    background-color: lightgrey;
  }

  h3 {
    margin: 0;
  }
}

.hotels-submit {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  button {
    padding: 10px;
    background-color: $base-color;
    color: white;
  }
}

.hotels-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: $base-color;
  border-top: 1px solid lightgrey;

  nav {
    margin: 0 20px;

    a:link,
    a:visited {
      color: #11402d;
    }

    a:active {
      color: white;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1em;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    color: white;

    li {
      margin: 0;
    }
  }
}
