@import 'utility';

// Subtle Pattern CREDIT: Ignasi Àvila Padró. http://www.cargocollective.com/ignaudible

$base-text-size: 16px;
$base-font-family: 'helvetica', sans-serif;
$base-color: #15bb67;

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  background-image: url('https://subtlepatterns.com/patterns/ignasi_pattern_s.png');
  font: $base-text-size / 1 $base-font-family;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import 'login';
@import 'explore';
@import 'signup';
@import 'forgotpass';
@import 'trips';
@import 'flights';
@import 'hotels';
