@import 'utility';

// Subtle Pattern CREDIT: Ignasi Àvila Padró. http://www.cargocollective.com/ignaudible

$base-text-size: 16px;
$base-font-family: sans-serif;
$base-color: #15bb67;

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  background-image: url('https://subtlepatterns.com/patterns/ignasi_pattern_s.png');
  font: $base-text-size / 1 $base-font-family;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// INDEX FILE

h1 {
  margin: 1.5em 0;
  color: white;
}

// SIGN-UP FILE

.sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;

  p {
    margin: 0 1em;
  }

  button {
    margin: 0 1em;
  }
}

@import 'login';
@import 'explore';
